body{
    background-color: honeydew;
    margin: 10;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

hr{
    border-style: dotted;
    border-color: #ffe4e1;
    border-width: 5px;
    height: 20px;
    width: 100px;
}

img{
    position: relative;
    left: 30px;
    height: 20px;
}

span{
    display: block;
    background-color:lemonchiffon;
    width: 100px;
}

div{
    position: relative;
}