body{
    background-color: honeydew;
    margin: 2.5cm;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    color: #2e4374;
}

p{
    color:	#2e4374;
}

a{
    color: blue;
    display: block;
    background-color:lemonchiffon;
    width: fit-content;
    font-size: 17px;
}

a:visited{
    color: blue;
    display: block;
    background-color:lemonchiffon;
    width: fit-content;
    font-size: 17px;
}

a:hover, a:focus {
    color: blue;
    display: block;
    background-color:lemonchiffon;
    width: fit-content;
    font-size: 17px;
}

hr{
    border-style: dotted;
    border-color: #ffe4e1;
    border-width: 5px;
    height: 20px;
    width: 100px;
}

h1{
    text-align: center;
    font-family: Brush Script MT, cursive;
    color: #800000;
    font-size: 66px;
}

h2 {
    border: 2px dashed darkblue;
    box-sizing: border-box;
    padding: 0.5 rem;
    font-family: Chalkduster, fantasy;
    color: indianred;
}

img{
    height: 200px;
    width: 200px;
}

footer{
    text-align: right;
    font-size: 15px;
    color: #79ac79;
}

