body{
    background-color: #f4f2de;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 33px;
    color: #0d1282;
}

h1{
    text-align: center;
    font-family: Brush Script MT, cursive;
    color: #1a5d1a;
    font-size: 80px;
}

form{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 33px;
    color: #0d1282;
}

a{
    color: blue;
    display: block;
    background-color:lemonchiffon;
    width: fit-content;
    font-size: 17px;
}

a:visited{
    color: blue;
    display: block;
    background-color:lemonchiffon;
    width: fit-content;
    font-size: 17px;
}

a:hover, a:focus {
    color: blue;
    display: block;
    background-color:lemonchiffon;
    width: fit-content;
    font-size: 17px;
}

footer{
    text-align: right;
    font-size: 15px;
    color: #79ac79;
}
