body{
    background-color: honeydew;
    margin: 1.3cm;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
}

p{
    color: 	#2f4f4f;
}

a{
    color: blue;
}

a:visited{
    color: purple;
}

a:hover, a:focus {
    color: blue;
}

hr{
    border-style: dotted;
    border-color: #ffe4e1;
    border-width: 5px;
    height: 20px;
    width: 100px;
}

h2 {
    border: 2px dashed darkblue;
    width: 50%
    font-size:3rem;
    padding: 0.5 rem;
}

img{
    position: relative;
    left: 60px;
    height: 200px;
}

span{
    display: block;
    background-color:lemonchiffon;
    width: 100px;
}

div{
    position: relative;
}
